<div class="container">
    <div class="box-sup">
        <h2 class="title">Tus Datos</h2>
        <mat-grid-list cols="3" rowHeight="5:1">
            <mat-grid-tile>
                <div id="dats1">
                    <h5>Nombre</h5>
                    <h3>Julio Cesar Barón</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="dats"> 
                    <h5>Correo</h5>
                    <h3>jcvaronp@udistrital.edu.co</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="dats">
                    <h5>Horario</h5>
                    <h3>8am - 11am</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div id="dats1">
                    <h5>Proyecto</h5>
                    <h3>Ingeniería de Sistemas</h3>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="dats">
                    <h5>Facultad</h5>
                    <h3>Ingeniería</h3>
                </div>  
            </mat-grid-tile>
            
        </mat-grid-list>
              
    </div>
    <div class="box-cent">
        <h3 class="title">Asesorías Pendientes</h3>
        <mat-card class="solc">
            <mat-content class="line">
                <div class="dat" id="est">
                    <h6>Estudiante</h6>
                    <h5>Nombre del Estudiante</h5>
                </div>
                <div class="dat">
                    <h6>Enviada</h6>
                    <h5>fecha</h5>
                </div>
                <div class="dat">
                    <h6>Modalidad</h6>
                    <h5>Virtual</h5>
                </div>
                <div class="dat" id="fec"> 
                    <h6>Fecha:</h6>
                    <h5>11/10/2022</h5>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="btnVer"
                        [routerLink]="'/solicitud'">
                        Ver
                    </button>
                </mat-card-actions>                    
                
            </mat-content>
            
        </mat-card>
        <mat-card class="solc">
            <mat-content class="line">
                <div class="dat" id="est">
                    <h6>Estudiante</h6>
                    <h5>Nombre del Estudiante</h5>
                </div>
                <div class="dat">
                    <h6>Enviada</h6>
                    <h5>fecha</h5>
                </div>
                <div class="dat">
                    <h6>Modalidad</h6>
                    <h5>Virtual</h5>
                </div>
                <div class="dat" id="fec"> 
                    <h6>Fecha:</h6>
                    <h5>11/10/2022</h5>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="btnVer"
                        [routerLink]="'/solicitud'">
                        Ver
                    </button>
                </mat-card-actions>                    
                
            </mat-content>
            
        </mat-card>
    </div>
</div>
