.container{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    left: 70px;
    top: 60px;
    z-index: 0;
}
.box-sup{
    position: absolute;
    width: 92%;
    height: 350px;
    left: 0;
    top: 0;
    border: 1px solid #9f9f9f;
    
}
.box-cent{
    box-sizing: border-box;

    position: absolute;
    width:92%;
    height: 350px;
    left: 0;
    top: 370px;
    border: 1px solid #9f9f9f;
    display: flex;
    flex-direction: column;
}
.solc{
    margin:15px;
    height: 65px;
}
.title{
    padding: 20px;
}
.btnVer{
    position: absolute;
    height: 55px;
    width:20%;
    justify-self: right;
    float: right;
    margin-top: -13px;
}
.line{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.dat{
    position: relative;
    margin-top: -12px;
    padding-left:10%;
}
.line #fec{
    margin-right: 30%;
}
.line #est{
    padding-left: 2%;
}