<div class="container">
    <div class="box-sup">
        <h2>Parte superior</h2>
        
    </div>
    <div class="box-cent">
        <h3 class="title">Asesorías Pendientes</h3>
        <mat-card class="solc">
            <mat-content class="line">
                <div class="dat" id="est">
                    <h6>Estudiante</h6>
                    <h5>Nombre del Estudiante</h5>
                </div>
                <div class="dat">
                    <h6>Enviada</h6>
                    <h5>fecha</h5>
                </div>
                <div class="dat">
                    <h6>Modalidad</h6>
                    <h5>Virtual</h5>
                </div>
                <div class="dat" id="fec"> 
                    <h6>Fecha:</h6>
                    <h5>11/10/2022</h5>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="btnVer"
                        [routerLink]="'/solicitud'">
                        Ver
                    </button>
                </mat-card-actions>                    
                
            </mat-content>
            
        </mat-card>
        <mat-card class="solc">
            <mat-content class="line">
                <div class="dat" id="est">
                    <h6>Estudiante</h6>
                    <h5>Nombre del Estudiante</h5>
                </div>
                <div class="dat">
                    <h6>Enviada</h6>
                    <h5>fecha</h5>
                </div>
                <div class="dat">
                    <h6>Modalidad</h6>
                    <h5>Virtual</h5>
                </div>
                <div class="dat" id="fec"> 
                    <h6>Fecha:</h6>
                    <h5>11/10/2022</h5>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="btnVer"
                        [routerLink]="'/solicitud'">
                        Ver
                    </button>
                </mat-card-actions>                    
                
            </mat-content>
            
        </mat-card>
    </div>
</div>
