
<div class="toolbar" role="banner">
    <img
        width="170"
        alt="UD"
        src="/assets/escudoUd.png"
    />
    <img
        width="50"
        alt="UD"
        src="/assets/EscudoPDI.png"
    />
    <a href="/inicio"><span>Módulo de Consejerías</span></a>
    
    <div class="spacer"></div>
    <a aria-label="" target="_blank" rel="noopener" href="" title="">
        <mat-icon class="ident">perm_identity</mat-icon>
    </a>
    <a aria-label="" target="_blank" rel="noopener" href="" title="YouTube">
        <mat-icon class="exit">exit_to_app</mat-icon>
    </a>
</div>