.example-container {
    width: 100%;
    height: 100%;
    margin-top: 50px;    
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index:-1;
    background-color: white;
    
  }
  
  .example-sidenav-content {
    height: 100%;    
    padding-top: 12px;
    padding-left: 5px;

    
  }
  
  .example-sidenav {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
  }

  .cont{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .sideBarButton1{  
    transform: scale(1.5);
    margin: 10px;
    /*position:fixed;
    top:180px;
    left:38px;*/
  }
  .sideBarButton2{
    transform: scale(1.5);
    /*position:fixed; 
    top:280px;
    left:38px;*/
  }