.example-form-field {
    position:absolute;
    left: 70px;
    top: 60px;
    margin-top: 10px;
    margin-left: 50px;
    width: 90%;
    height: 100%;
  }
  .row{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    margin-top: 3%;
    margin-left: 3%;
}
.btnInfo{
    margin-left: 39%;
    margin-top: 30px;
}
.btnAgend{
    margin-left: 47%;
    margin-top: 30px;
}
h2{
    margin: inherit;
}
h3{
    margin-top: 2%;
}
  .selec{
    margin-left: 10%;
    margin-top: 30px;
}
.btnSol{
    margin-left: 50px;
    margin-top: -50px;
}
.txtArea{
    width: 60%;
    height: 150px;
    margin-left: 4%;
    margin-top: 2%;
}
.row #nomEst{
    margin-left: 100px;
}
.row #tipo{
    margin-left: 120px;
}
.row #docs{
    margin-left: 90px;
}
.row #descp{
    margin-left: 100px;
}
.titl{
    margin-left: 17%;
}